@{
    PageData["title"] = "AngularJS SPA | About";
}
<h2>About TriFEEDME</h2>

<div class="col-xs-12">
    <div class="pull-left col-xs-4 ">
        <img src="../Images/wake.gif" width="300"/>
    </div>
    <div class="pull-left col-xs-4" style="text-align: center; vertical-align: middle">
        <h3 class="glyphicon glyphicon-plus" style="text-align: center; vertical-align: middle"></h3>
    </div>
    <div class="pull-left col-xs-4">
        <img src="../Images/puP6Mc.gif"/>
    </div>
    <div class="clearfix"></div>
</div>